@font-face {
  font-family: "Dobra";
  src: url("/fonts/DobraSlab-W04-Book.woff") format("woff"),
    url("/fonts/DobraSlab-W04-Book.woff.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open-Sans-Bold.woff") format("woff"),
    url("/fonts/Open\ Sans\ Bold.ttf") format("truetype");
}

h1 {
  font-family: "MyWebFont";
}
